.input-bot{
    width:100%;
    height:100%;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #b2bbbb;
    border: 1px solid #b2bbbb;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 250%;
    box-shadow: 2px 3px 5px 2px rgba(10,10,120,0.15);
}

.input-bot:hover{
    background-color:#c4cccc;
    box-shadow:1px 1px 1px 1px rgba(10,10,120,0.15);
    transition: .5s all;
}