
*.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
ez.ai/.idea/workspace.xml
ez.ai/.idea/inspectionProfiles/Project_Default.xml
ez.ai/.idea/misc.xml
ez.ai/.idea/modules.xml
ez.ai/.idea/vcs.xml
