
.help {
  width: 24px;
  height: 24px;
  border-radius: 10px;
  background-color: #bbb;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.help:hover {
  background-color: orange;
}

.active {
  background-color: orange;
}



.help-content{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px 0px 10px 10px;
  color: #FFFFFF;

  min-width: 300px;
  max-width: 500px;

  top: 18px;
  right:12px;

  padding:10px;
  line-height: 25px;
  z-index: 9999;
}

.help-content span {
 color : orange;
}

.help-list-content , .help-buttons-content{
  width:450px;
}

