.main {
  width: 80%;
  /* background-color: yellow; */
  margin: 50px auto;
}

.main-title {
  width: 100%;
}
.sub-title {
  /* width: 48%; */
  display: inline-block;
}

.sub-title:last-child {
  float: right;
  padding: 6px 10px 0 0;
}
.list-title {
  color: #09d6e3;
  font-weight: 900;
  font-size: 27px;
}
.list-line {
  border: 0.5px solid #c9c7c7;
  margin: 10px 10px 10px 10px;
}

.search-btn-span {
  margin-left: 10px;
}

.chat-list {
  border: 1px solid black;
  border-radius: 8px;
  height: 50px;
}

.create-bot {
  text-align: center;
  background-color: #959e9e;
  border: 1px solid #959e9e;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.create-bot span {
  line-height: 48px;
}
