/* builder-info struct css */
.builder-info {
  padding-right: 50px;
}
.info__column {
  width : 300px;
  padding : 10px 0;
  background-color: #fff;
  overflow: hidden;
}

.info__column:first-child {
  width : 700px;
  padding : 0px 30px;
  border-right: 1px solid #eee;
}


/* info-main css */
.info__main {
  height : 60px;
  padding : 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-name {
  font-size : 30px;
  font-weight: bold;
}


.info-platform {
  height : 50px;
  padding : 0 5px;
  border : 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-platform p {
  font-size : 12px;
  color : #666;
  padding : 5px 0;
}

.builder-bot-item-connected {
  padding : 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.builder-bot-item-connected > div {
  padding : 0 4px;
}

.builder-bot-item-connected i {
  font-size : 20px;
}

/* info-description css */
.info-discription {
  padding : 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.info-discription p {
  font-size : 15px;
  color : #999;
}









.info__column button{
  margin:10px 10px 0 0;
  width:60px;
  height:30px;
  background-color: transparent;
  border: 1px solid rgb(190, 182, 182);
  cursor:pointer;
}

.builder_undo{
  margin:10px 10px 0 0;
  cursor:pointer;
  color:black;
  font-size:10pt;
}
.builder_undo:hover{
  color:#da8484;
  transition: .2s all;
}