/* builder-info struct css */
.builder-info {
  padding-right: 50px;
}
.info__column {
  width : 300px;
  height : 100%;
  padding : 10px 0;
  background-color: #eee;
  overflow: hidden;
}

.info__column:first-child {
  width : 700px;
  padding : 10px 30px;
}


/* info-main css */
.info__main {
  height : 50px;
  padding : 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-name {
  font-size : 30px;
  font-weight: bold;
}



.info__column button{
  margin:10px 10px 0 0;
  width:60px;
  height:30px;
  background-color: transparent;
  border: 1px solid rgb(190, 182, 182);
  cursor:pointer;
}

.builder_undo{
  margin:10px 10px 0 0;
  cursor:pointer;
  color:black;
  font-size:10pt;
}
.builder_undo:hover{
  color:#da8484;
  transition: .2s all;
}