.builder {
  position: absolute;
  margin: 0 auto;
  left: 0;
  text-align: center;
  width: 100vw;
  height: inherit;
}

.builder__column {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  min-height: -webkit-fill-available;
}
.builderTool {
  border-style: solid;
  width: 30%;
}
.builderMain {
  border-style: solid;
  width: 40%;
}
