

section {
    max-width: 100%;
    height: 80vh;
}
.builder {

    text-align: center;
    max-width: 100%;
    height: inherit;
}

.builder__column {
    display: flex;
    justify-content: center;
    width : 100%;
    height: inherit;

}

.builder__column:first-child {
    max-width: 80vw;
}
.builderTool {
    border-style: solid;
    width: 30%;
}
.builderMain {
    border-style: solid;
    width: 40%;
}
