@import './ChatbotBuildLayout.css';
@import 'BuilderNav.css';


.tool-tabs {
  display: flex;
  justify-content: space-around;
}
.tool-basic {
  display: inline-block;
  margin: 10px;
  width: 30%;
  height: 50px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
}
.tool-keyword {
  display: flex;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.main-keyword-title {
  display: inline-block;
  border-style: solid;
  width: 60%;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
