@import "./ChatbotBuildLayout.css";
@import "./BuilderNavContents/BuilderNav.css";




.main-keyword-title {
  display: inline-block;
  border-style: solid;
  width: 60%;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}



