


.builder {
    position : absolute;
    margin : 0 auto;
    left: 0;
    text-align: center;
    width : 100vw;
    height: inherit;
}

.builder__column {
    display: flex;
    justify-content: center;
    width : 100%;
    height: inherit;

}

.builder__column:first-child {
    max-width: 80vw;
}
.builderTool {
    border-style: solid;
    width: 30%;
}
.builderMain {
    border-style: solid;
    width: 40%;
}
