@import "./ChatbotBuildLayout.css";
@import "./BuilderNavContents/BuilderNav.css";
/* 이름이랑 구조 바꾸기. Tabs의 하위 요소또는 동 수준 요소로 */

/* 기본 요소 css */
.tool-basic {
  height: 50px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
}

/* 키워드 요소 css */
.tool-keyword {
  display: flex;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.main-keyword-title {
  display: inline-block;
  border-style: solid;
  width: 60%;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

/* Tool Stuatus */
.tool-status {
  border-style: solid;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-input {
}
