.main-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.main-entity {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.main-button {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
