.main-entity {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
/*================ Main header(상단) =============== */
.main-header{
  display:flex;
  align-items:center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #54759e;
  height:70px;
  color: white;
}
.fa{
  margin: 20px;
}
#item-last{
  margin-left:auto;
  font-size:17pt;
  margin-top:20px;
}
/*======================== Main contents 내부 요소들 ===================== */
.main-contents{
  flex-direction: column;
  height:100%;
  overflow-y: auto;
}
/*main-contents scrollbar style*/
.main-contents::-webkit-scrollbar { width:6px; }
.main-contents::-webkit-scrollbar-track {background-color: none;}
.main-contents::-webkit-scrollbar-thumb {background-color:#808080; border-radius:10px;}
.main-contents::-webkit-scrollbar-thumb:hover {background:#404040;}
.main-contents::-webkit-scrollbar-thumb:active {background: #808080;}
.main-contents::-webkit-scrollbar-button {display: none;}

.main-keyword-title{ /*== 키워드 말풍선 ==*/
  position:relative;
  background-color:#e5ffd0;
  border:1px solid #e5ffd0;
  padding:2%;
  max-width:60%;
  width:fit-content;
  word-break:break-all;
  float:right;
  margin:3%;
}
.main-keyword-title:after{
  position:absolute;
  border-top:0px solid transparent;
  border-bottom:15px solid transparent;
  border-left:15px solid #e5ffd0;
  border-right:0px solid transparent;
  content:"";
  right:-9px;
  top:-1px;
}
.main-content{ /*== 전체 말풍선(키워드 제외) ==*/
  position: relative;
  margin: 1% 1% 2% 3%;
  margin-right:100px;
  background-color:white;
  word-wrap:break-word;
  /* word-break: break-all; */
  white-space:pre-wrap; 
  border-radius: 10px 10px 10px 0px;
  text-align: left;
  clear:right;/*main-keyword-title의 float를 감지하지 않기 위함*/
  min-width:10%;
  min-height:5%;
  max-width:80%;
}
.main-content::after{ 
  position:absolute;
  border-top:15px solid transparent;
  border-bottom:0px solid red;
  border-right: 15px solid white;
  border-left:0px solid black;
  content:"";
  left:-11px;
  bottom:0px;
}
.main-textbox, .main-imgbox{/*== Basic > img, text ==*/
  width:fit-content;
  height:fit-content;
}
.main-image-preview{ /*== Basic > img preview ==*/
  min-width:230px;
  min-height:230px;
  background-size: 100% 100%;
  border-radius:5px;
  border: 1px solid #ddd;
  color:#ddd;
  display:flex;
  justify-content:flex-end;
  align-items: flex-start;
}
.image-preview-default{
  min-width:200px;
  min-height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #ddd;
  color:#ddd;
  border-radius: 5px;
}
.main-videobox{ /*==Basic > video==*/
  padding:1%;
  line-height:0; 
  width: 300px; 
  height: 180px; 
  cursor: pointer;
}
.main-video-content{
  line-height: 170px; 
  height:170px;
  text-align: center;
  border-radius:5px;
  border:1px solid #ddd;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-image: url(); 미리보기 사진*/
}
.main-locabox{/*== Basic > 지도(Map) ==*/
  width:210px;
  height:210px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.main-filebox, .main-audiobox{/* === Basic > File == */
  display:flex;
  align-items:center;
  width:fit-content;
  height:fit-content;
  padding:10px;
}
.main-file-content{
  display:block;
  width:200px;
  white-space:nowrap;
  overflow-x:hidden;
  text-overflow:ellipsis;
  margin:10px;
}
.main-file-icon{
  padding:18px;
  margin:5px;
  border-radius: 50%;
  background:#2ca2da;
  color:white;
  cursor:pointer;
}
.main-listbox { /*== Advance > List == */
  z-index:1;
  padding:2%;
  width:fit-content;
  height:fit-content;
}
.main-listbox-header{
  color:#318ace;
}
.main-listbox-question{
  word-wrap:break-word;
  /* word-break: break-all; */
  white-space:pre-wrap;
  padding:2%;
  margin-bottom: 10px;
  min-width:200px;
  min-height:30px;
  font-size:13pt;
  font-weight : bold;
}
.main-listbox-question{
  scrollbar-width: none; /*Firefox*/
}
.main-listbox-question::-webkit-scrollbar{
  display:none; /*Chrome, Safari, Opera */
}/*IE나 Edge는 적용 X*/

.main-listbox-elem{
  width:90%;
  border-bottom: 1px solid #ddd;
  margin:1%;
  padding:5px;
  font-size:11pt;
}

.tool-delete{ /* delete button for speech bubble */
  position:absolute;
  content:"\d7";
  color:#808080;
  right:-20px;
  bottom:0px;
}
.tool-delete:hover{
  color:red;
}
/*==================== Main footer(하단) ===================*/
.main-footer{
  /* border: .5px solid #999; */
  background-color:#EEEEEE;
  height:50px;
  margin-top:auto;
}
.main-button { /*저장 버튼*/
  float:right;
  margin:13px;
}
.keyword-keyboard{
  background-color: #bebebe;
  transition: .5s ease;
}
.main-keyboard{
  min-height:45px;
}
.list-elem-default{
  display:inline-flex;
  width : 40%;
  height: 35px;
  justify-content:center;
  align-items:center;
  margin : 5px;
  background-color : rgba(73, 71, 71, 0.336);
  border-radius: 5px;
  outline-color: #00b8b4;
  color: #bebebe;
}
.list-elem-wrapper{
  display:inline-flex;
  width : 40%;
  height: 36px;
  padding: 5px 5px 5px 10px;
  margin : 5px;
  background-color : #eee;
  border : none;
  border-radius: 5px;
  outline-color: #00b8b4;
}
.list-elem{
  overflow:hidden;
  text-overflow: ellipsis;
}

.list-elem-wrapper .clear-button{
  color: #808080;
  cursor:pointer;
  margin-left:auto;
}
.clear-button:active{
  color:#eee;
}