

.status-list table {
    margin : 0 auto;
    width : 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap;

}
.status-list textarea {
    margin : 0 auto;
    width : 89%;
    height : 100px;
    min-width : 465px;
    outline-color: #00b8b4;
}

.status-list tr {
    display: flex;
    justify-content: space-around;
}

.status-list .status-list-content {
    width : 49%;
    min-width: 230px;
    margin : 2px;
    padding : 2px;
    border : 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.status-list-content .list-keyword-btn {
    position : relative;
    height : 38px;
    width : 26%;
    min-width : 70px;
    background-color: #eee;
    font-size : 10px;
    font-weight: bold;
    color : #999;
    border-radius: 15px;
    margin : 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-list-content .list-keyword-btn:hover {
    background-color: #00b8b4;
    color: white;
    transition: all .2s;
    cursor : pointer;
}

.list-keyword-btn:hover > div {
    color : #999;
    border : 2px solid #00b8b4;
}

.status-list input{
    width : 70%;
    min-width : 145px;
    height: 36px;
    margin : 5px;
    background-color : #eee;
    padding: 2px 2px 2px 10px;
    border : none;
    border-radius: 5px;
    outline-color: #00b8b4;
}