

.status-list textarea {
    margin : 0 auto;
    outline-color: #00b8b4;
}
.status-list input{
    width : 39%;
    height: 30px;
    margin : 5px;
    background-color : #eee;
    padding: 2px 2px 2px 10px;
    border : none;
    border-radius: 5px;
    outline-color: #00b8b4;

}