
.keyword-contents {
    width : 100%;
}

.add-keyword {
    margin : 20px 0;
}
.tool-contents form {
    margin : 0 auto;
    width : 70%;
    display: flex;
    flex-direction: column;
}

.tool-contents form input {
    height : 40px;
    border : none;
    border-radius: 3px;
    padding : 0 0 0 10px ;
    font-size: 15px;
}

.tool-contents form input:focus {
    outline-color : rgb(0, 184, 180);
}

/* 키워드 추가 버튼 css */
.tool-contents form button {
    border : none;
    height: 40px;
    margin-top : 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.tool-contents form button:hover {
    background-color: rgb(0, 184, 180);
    color : #eee;
    transition: .2s all;
}

.tool-contents form button:focus {
    outline: none;
}


/* 키워드 관리 창 css */
.keyword-status {
    padding: 10px 0;
    background-color: #fff;
    border : 0.5px solid #bbb;
    display: flex;
    flex-wrap: wrap;
}

.keyword-status > h4 {
    width: 100%;
}


/* 키워드 요소 css */
.tool-keyword {
    display: flex;
    background-color: lavender;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}
