
.status-list {
    width : 80%;
}

.status-list table {
    margin : 0 auto;
    width : 80%;
    display: flex;
    flex-direction: column;
}
.status-list textarea {
    margin : 0 auto;
    outline-color: #00b8b4;
}

.status-list tr {
    display: flex;
    justify-content: space-around;
}

.status-list .status-list-content {
    margin : 2px;
    padding : 2px;
    border : 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.status-list-content .list-keyword-btn {
    height : 30px;
    width : 60px;
    background-color: #eee;
    font-size : 10px;
    font-weight: bold;
    color : #999;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-list-content .list-keyword-btn:hover {
    background-color: #00b8b4;
    color: white;
    transition: all .2s;
}

.status-list input{
    width : 80%;
    height: 30px;
    margin : 5px;
    background-color : #eee;
    padding: 2px 2px 2px 10px;
    border : none;
    border-radius: 5px;
    outline-color: #00b8b4;
}