.GoogleMapPresenter {
  width: 300px;
  height: 300px;
}
.locationbox-telegram > .GoogleMapPresenter {
  width: 100px;
  height: 100px;
}

.GoogleMapPresenter > div {
  width: inherit !important;
  height: inherit !important;
}
