
.main{
  width: 80%;
  max-width: 1200px;
  min-height:500px;
  height: auto;
  margin: 5rem auto;      /*50px*/
}

.main-title{
  width: 100%;
}

.sub-title{
  display: inline-block;
}

.sub-title:last-child{
  float: right;
  padding: 0.4rem 0.6rem 0 0;   /*6px 10px 0 0*/
}
.list-title{
  color: #09ccd8;
  font-weight: 900;
  font-size: 1.7rem; /*27px*/
}
.list-line{
  border: 0.5px solid #c9c7c7;
  margin: 10px 10px 10px 10px;
}
.search-btn button{
  margin-left:0.6rem;
  border: 1px solid skyblue;
  background-color: rgba(0,0,0,0);
  color:skyblue;
  padding:5px; 
}
.search-btn button:hover{ /*검색 버튼에 생명력을 불어넣음*/
  background-color: skyblue;
  color:white;
}
.search-input{
  width: 9.5rem;
  height: 1.8rem;
  border : 2px solid #f2f2f2;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.search-input::placeholder{
  color:#bbb;
}
.content{
  margin-top:1.5rem;
  cursor:pointer;
}