

.main-header{
  display:flex;
  justify-content: space-around;
  align-items:center;
  border : 1px solid #999;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height:70px;
  background-color:#555;
}

.main-header .main-header-theme select{
  width: 400px; /* 원하는 너비설정 */
  padding: .3em .5em; /* 여백으로 높이 설정 */
  border: none;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  outline-color: #00b8b4;
  font-size: 16px;
  font-weight: lighter;
  appearance: none;
  background-color: white;
}


.fa{
  margin: 20px;
}


#item-last{
  margin-left:auto;
  font-size:18pt;
  margin-top:20px;
}


/* 프리뷰 메인 가운데 section */
.main-contents{
  height:100%;
  background-size: 100% 100%;
  border: 1px solid #999;
  border-top : none;
  flex-direction: column;
  overflow-y: auto;
}

.main-contents-default {
  background-color: #c7edeb;
}

.main-contents-telegram {
  background-image: url("../../../objects/telegram_bg.jpg");
}

.main-contents-line {
  background-image: url("../../../objects/line-bg.JPG");
  background-color : palegreen;
}

.main-contents-facebook {
  background-color: lightskyblue;
}


.main-contents::-webkit-scrollbar { width:6px; }
.main-contents::-webkit-scrollbar-track {background-color: none;}
.main-contents::-webkit-scrollbar-thumb {background-color:#808080; border-radius:10px;}
.main-contents::-webkit-scrollbar-thumb:hover {background:#404040;}
.main-contents::-webkit-scrollbar-thumb:active {background: #808080;}
.main-contents::-webkit-scrollbar-button {display: none;}


.main-keyword-title{ /*== 키워드 말풍선 ==*/
  position:relative;
  background-color:#e5ffd0;
  border:1px solid #e5ffd0;
  padding:2%;
  max-width:60%;
  width:fit-content;
  word-break:break-all;
  float:right;
  margin:3%;
}


.main-keyword-title:after{
  position:absolute;
  border-top:0px solid transparent;
  border-bottom:15px solid transparent;
  border-left:15px solid #e5ffd0;
  border-right:0px solid transparent;
  content:"";
  right:-9px;
  top:-1px;
}

.main-preview {
  width : 90%;
  text-align: left;
  margin : 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-content{ /*== 전체 말풍선(키워드 제외) ==*/
  position : relative;
  display: inline-block;
  background-color:#eee;
  word-wrap:break-word;
  line-height:20px;
  white-space:pre-wrap;
  border : 2px solid #eee;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
  clear:right;/*main-keyword-title의 float를 감지하지 않기 위함*/
  min-width:10%;
  min-height:5%;
  max-width:80%;
  transition: .2s all;
  cursor: pointer;
}


.main-content:hover {
  transform: translateY(-2px);
  border : 2px solid #fff;
  background-color: white;
}

.tool-delete {
  position : relative;
  display: inline-block;
  margin-left : 5px;
}

.now, .now:hover{
  border: 2px solid #00b8b4;
  background-color: white;
  transform: translateY(-2px);
}


.now:after{
  border-right: transparent;
}


.main-textbox, .main-imgbox{/*== Basic > img, text ==*/
  width:fit-content;
  height:fit-content;
  min-width:80px;
}


.main-image-preview{ /*== Basic > img preview ==*/
  display:flex;
  justify-content:flex-end;
  align-items: flex-start;
  min-width:230px;
  min-height:230px;
  background-size: 100% 100%;
  border-radius:5px;
  border: 1px solid #ddd;
  color:#ddd;
}


.image-preview-default{
  min-width:200px;
  min-height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #ddd;
  color:#ddd;
  border-radius: 5px;
}


.main-videobox{ /*==Basic > video==*/
  padding:1%;
  line-height:0; 
  width: 300px; 
  height: 180px; 
  cursor: pointer;
}


.main-video-content{
  line-height: 170px; 
  height:170px;
  text-align: center;
  border-radius:5px;
  border:1px solid #ddd;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.main-locabox{/*== Basic > 지도(Map) ==*/
  width:210px;
  height:210px;
  position : relative;
}

.main-locabox > div {
  position :absolute;
  top : 2px;
  left: 2px;
}


.main-filebox, .main-audiobox{/* === Basic > File == */
  display:flex;
  align-items:center;
  width:fit-content;
  height:fit-content;
  padding:10px;
}


.main-file-content{
  display:block;
  width:200px;
  white-space:nowrap;
  overflow-x:hidden;
  text-overflow:ellipsis;
  margin:10px;
}


.main-file-icon{
  padding:18px;
  margin:5px;
  border-radius: 50%;
  background:#2ca2da;
  color:white;
  cursor:pointer;
}


.main-listbox { /*== Advance > List == */
  padding:2%;
  width:fit-content;
  height:fit-content;
}


.main-listbox-header{
  color:#318ace;
}


.main-listbox-question{
  word-wrap:break-word;
  white-space:pre-wrap;
  padding:2%;
  margin-bottom: 10px;
  min-width:200px;
  min-height:30px;
  font-size:13pt;
  font-weight : bold;
}


.main-listbox-question{
  scrollbar-width: none; /*Firefox*/
}


.main-listbox-question::-webkit-scrollbar{
  display:none; /*Chrome, Safari, Opera */
}/*IE나 Edge는 적용 X*/


.main-listbox-elem{
  width:90%;
  border-bottom: 1px solid #ddd;
  margin:1%;
  padding:5px;
  font-size:11pt;
}




.fa-times:hover{
  color: red;
}


.main-footer{
  /* border: .5px solid #999; */
  background-color:#EEEEEE;
  height:50px;
  margin-top:auto;
}


.main-button { /*저장 버튼*/
  float:right;
  margin:13px;
}


.virtual-keyboard{
  transition: .5s ease;
  background-color: #bebebe;
  min-height:45px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.list-elem-default{
  display:inline-flex;
  width : 40%;
  height: 35px;
  justify-content:center;
  align-items:center;
  margin : 5px;
  background-color : rgba(73, 71, 71, 0.336);
  border-radius: 5px;
  outline-color: #00b8b4;
  color: #bebebe;
}


.list-elem-wrapper{
  display:inline-flex;
  height: 36px;
  padding: 5px 5px 5px 10px;
  margin : 5px;
  background-color : #eee;
  border : none;
  border-radius: 5px;
  outline-color: #00b8b4;
}


.list-elem-wrapper:nth-child(2n+1):last-child  {
  grid-column: span 2;
}


.list-elem{
  overflow:hidden;
  text-overflow: ellipsis;
}


.list-elem-wrapper .clear-button{
  color: #808080;
  cursor:pointer;
  margin-left:auto;
}


.clear-button:active{
  color:#eee;
}