/*토큰 확인 팝업창 css*/
.tokenChk{
    position: absolute;
    background-color: white;
    padding: 20px;
    margin: auto;
    width:75%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    cursor:auto;
}

.tokenChk-title{
    font-size:16pt;
    font-weight: bold;
    color: #333;
    margin:13px;
}
.tokenChk-content{
    border-top : 1px solid #bebebe;
    margin: 10px;
}
.tokenChk-header{
    padding: 8px;
    font-size: 13pt;
    color: #999;
}
.tokenVal{
    font-size: 11pt;
    width : 45%;
    margin :10px;
    padding : 10px;
    border : 1px solid #bebebe;
    text-align : center;
    word-break: break-all;
}