/*토큰 확인 팝업창 css*/
.tokenChk{
    position: absolute;
    background-color: white;
    padding: 20px;
    margin: auto;
    width:75%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.tokenChk-title{
    font-size:16pt;
    font-weight: bold;
    color: #333;
    margin:13px;
}
.tokenChk-content{
    border-top : 1px solid #bebebe;
    margin: 10px;
}
.tokenChk-content p{
    padding: 8px;
    font-size: 12pt;
    color: #999;
}
.tokenChk-content input{
    border : 2px solid #f2f2f2;
    width:80%;
}