.input-bot{
    width:100%;
    height:100%;
    border-radius: 8px;

    margin-bottom: 10px;
    text-align: center;

    background-color: #b2bbbb;
    border: 1px solid #b2bbbb;

    color: white;
    font-weight: 700;
    font-size: 18px;

    line-height: 250%;
}

/*         .chat-list{
            border: 1px solid #07b1bb;
            border-radius: 8px;
            height: 50px;
            margin-bottom: 10px;
        }

        .create-bot{
            text-align: center;
            background-color: #b2bbbb;
            border: 1px solid #b2bbbb;
            color: white;
            font-weight: 700;
            font-size: 18px;
        }

        .create-bot div{
            
        } */