@import "./reset.css";
@import "./Home.css";
@import "Nav.css";



* {
  box-sizing: border-box;
  color : #333;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* header 기본 struct */
.header {
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  height : 80px;
  margin : 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index : 10;
  background-color: #fff;
}

/* 헤더의 로고 양식 */
.header .logo_default {
  width : 150px;
  height : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size : 35px;
  font-weight : 600;
}



/*-------------- Section 영역 ------------------*/

/* 분리된 내용 파일들은 section 안에 들어가는 구조로 작성됩니다.
   return <div> <article></article> ... 식으로 사용하면 구현하세요!!!!!!
   Home.js 참고!!
   이 아래 설정 값들은 id, class 로 임의로 최대한 변동하지 마세요! (임시라고 적어둔건 예외)
 */
section {
  position : relative;
  margin-top : 80px!important;
  padding : 20px 0;
  margin : 0 auto;
  width : 100%;
  min-height: 110vh;
  background-color : #eee;
  overflow: hidden;
}

.section-contents {
  max-width : 1200px;
  height: 100%;
  margin : 0 auto;
}


article {
  margin-bottom : 10px;
  padding : 0;
  background-color : lavender;
  height: 400px; /* 임시 */
}






/* footer css */
footer {
  background-color: #555;
  width : 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 2;
}

footer p {
  color : #ddd;
}



/* 그외 범용 코드 */
a {
  display : inline-block;
  text-decoration: none;
  color : #333;
  width : 100%;
  height :100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  cursor: pointer;
}
