article {
    margin : 0;
    padding : 50px 0;
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article > div {
    height: 100%;
}
.hide{
  line-height: 0;
  font-size:1px;
  overflow:hidden;
}

/* 1번째 아티클  - main-about */
.main-about {
    background-color: #fff;
}

.main-about__column {
    width: 100%;
}

.main-about-sns-image {
  width : 100%;
  height: 400px;
}
.main-about-sns-image img{
  width:350px;
}


.main-about-btn {
    background-color: #00B8B4;
    width : 30%;
    height : 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px auto;
    border-radius: 20px;
    font-size: 18px;
}

.main-about-btn:hover {
    background-color: #4fd6d1;
}

.main-about-btn a {
    color : white;
}

.main-about-image {
    width : 100%;
    height : auto;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #999;
}

.main-about-image img {
    width : 100%;
    height : 80%;
}

.main-about-image h1{
  text-align: right;
  font-weight: 900;
  font-size:50px;
  
}

/* 아티클 2 - main-wonder */
.main-wonder {
    background-color : #eee;
}

.main-wonder__column {
    min-width: 350px;
}

.main-wonder-title {
    width : 265px;
    margin-bottom : 100px;
    line-height : 60px;
}
.main-wonder-title h1 {
    font-size : 45px;
    font-weight: 900;
}

.main-wonder-description p {
    font-size : 18px;
    margin-bottom: 20px;
}


.main-wonder-promotion {
    position: relative;
    background-image: url("./objects/ezai_thumbnail.png");
    background-size: 100% 100%;
    width : 600px;
    height : 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-wonder-promotion:before {
    position : absolute;
    top: 0;
    left : 0;
    background-color: #333333;
    width : 100%;
    height :100%;
    border-radius: 10px;
    content: '';
    opacity: 0.3;
    cursor: pointer;
}

.main-wonder-promotion:hover .main-wonder-promotion:before{
    opacity: 0;
}


.main-wonder-promotion i {
    color : #eee;
    font-size:120px;
    transition-property: color;
    transition-duration:0.2s;
}
.main-wonder-promotion:hover i{
    color : darkred;
}

.main-wonder-btn {
    background-color: #ddd;
    font-size : 20px;
    font-weight: bold;
    color: #fff;
    width : 80%;
    margin : 15px auto;
    padding : 15px;
    display : flex;
    justify-content: center;
    align-items: center;
}


/* 3번째 아티클 - main-what */
.main-what {
    position : relative;
}

.main-what-title {
    width : 250px;
    position : absolute;
    top : -65px;
    left : 50px;
    font-size: 60px;
    font-weight: bold;
    line-height : 60px;
}

.main-what__column {
    min-width : 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-what-sns-image {
    width : 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-what-sns-image img{
    width:450px;
}

.main-what-contents {
    width : 500px;
    height: 400px;
 }

.main-what-content {
    font-size:18px;
    line-height: 40px;
}
.main-what-content:first-child {
    font-weight : bold;
    font-size : 25px;
    line-height : 40px;
    margin-top:40px;
    margin-bottom:20px;
}


/* 4번재 아티클 - main-how */
.main-how {
    padding : 0;
    position : relative;
}

.main-how-title {
    width : 250px;
    position : absolute;
    top : -65px;
    right : 50px;
    font-size: 60px;
    font-weight: bold;
    line-height : 60px;
    text-align: right;
}




/* 5번재 아티클 - main-sns */
article[class="main-sns"] {
    min-height : 400px!important;
}
.main-sns {
    background-color: white;
    flex-direction: column;
    height :150px;
}

.main-sns-title {
    font-size : 45px;
    font-weight: bold;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sns-logos {
    width : 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-sns-logo {
    /* background-color: #eee; */
    height : 100px;
    width: 100px;
}

.main-sns-logo-image {
    width : 100%;
    height :80px;
}
.main-sns-logo-image i{
  font-size : 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-sns-logo-name {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}