@import "NavPopup.css";

.nav {
    display : flex;
    flex-wrap: wrap;
    height: 50px;
}

.nav_l {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > ul{
    height: 100%;
    list-style : none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav > ul > li {
    height: 100%;
    margin : 0;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav > ul > li:hover {
    background-color: #eee;
}

/* nav 오른쪽 요소 */
.nav_r {
    min-width : 320px;
    height : 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_chatbot {
    width : 130px;
    height : 100%;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_chatbot .nav_chatbot-btn a {
    border : 1px solid #00b8b4;
    padding : 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    color : #00b8b4;
    cursor: pointer;
    transition: .2s all;
}

.nav_chatbot .nav_chatbot-btn:hover a {
    background-color: #00b8b4;
    color : white;
}

/* nav의 login 버튼 */
.nav_right {
    text-align: center;
    display : flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav_right > div {
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_right > div a {
    width : 80px;
}
.nav_right > div:hover a {
    color : #333;
}
.nav_right div a{
    color : #999;
}



.login, .login a {
    background-color : #00b8b4;
    color : #eee;
    font-weight: bold;
}

/* nav의 로그인했을때 내정보 버튼 */
.profile {
    padding : 0 10px;
    display : flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color : #999;
}

.profile:hover {
 color : #333;
}


.profile-picture{

    padding : 0 10px;
    font-size : 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture i{
    color : #999;
}

.profile-more i {
    color : #999;
    font-size : 14px;
}