.preview-container {
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.preview-header {
  height: 50px;
  background-color: white;
  margin-bottom: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.preview-contents {
  display: flex;
  flex-direction: column;
  overflow : scroll;
}
.side-kakao .preview-contents {
  background-color: #fffacd !important;
  height: 100%;
}
.side-line .preview-contents {
  background-color: #c4f7d7 !important;
  height: 100%;
}
.side-facebook .preview-contents {
  background-color: #b0bbd3 !important;
  height: 100%;
}

.side-telegram .preview-header {
  background-color: #52749A !important;
}

.side-telegram .preview-contents {
  background-image: url("../../../../objects/telegram_bg.jpg");
  height: 100%;
}
.preview-footer {
  background-color: white !important;
  height: 50px;
  margin-top: auto;
  padding : 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-footer i {
  font-size : 20px;
  color : #707f8e;
}

.preview-footer-imogi {
  width : 30px;
  height : 30px;
  display : flex;
  justify-content: center;
  align-items: center;
}

.preview-footer-icons {
  width : 120px;
  height : 30px;
  display : flex;
  justify-content: space-around;
  align-items: center;
}
.preview-input {
  width : 220px;
  height : 30px;
  border-radius: 10px;
}

.preview-input form {
  height: 100%;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-input form input {
  height: 100%;
  width : 100%;
  padding : 0 5px;
  border: transparent;
  background: transparent;
  font-size : 15px;
}
.preview-input form input:focus {
  outline: none;
}
.datetime {
  margin: 15px;
}
time {
  font-size: 13px;
  font-weight: bold;
  background-color: #37516d;
  opacity: 0.5;
  color: white;
  padding: 3px 6px;
  border-radius: 15px;
}
.preview-send {
  align-self : flex-end;
  background-color: #e5ffd0;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  display: flex;

}
.preview-receive {
  width : inherit;
  align-self : flex-start;
  position : relative;
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding : 2px;
  margin: 5px;
}
.platform-telegram-text, .platform-telegram-notfound {
  padding: 8px;
}

.preview-keyboard{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.preview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  margin:5px 5px 1px 5px;
  height:40px;
  font-weight: 900;
  border-radius: 3px;;
}


.preview-send .nowtime_outer time{
  align-self: flex-end;
  font-size : 11px;
  background-color: #e5ffd0;
  color : #426327;
  font-weight: normal;
}


.preview-receive .nowtime_outer time {
  align-self: flex-end;
  font-size : 11px;
  background-color: white;
  color : #999;
  font-weight: normal;
}

.preview-receive .nowtime_inner time {
  display: none;
}