.preview-container {
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.preview-header {
  height: 50px;
  background-color: white;
  margin-bottom: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.preview-contents {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.file-icon-preview {
  padding: 18px;
  margin: 5px;
  border-radius: 50%;
  background: #2ca2da;
  color: white;
  cursor: pointer;
}
.main-image-preview {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 230px;
  min-height: 230px;
  background-size: 100% 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #ddd;
}
.main-auido-preview {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}
.main-video-preview {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}
.side-kakao .preview-contents {
  background-color: #fffacd !important;
  height: 100%;
}
.side-line .preview-contents {
  background-image: url("../../../../objects/line-bg.JPG");
  height: 100%;
}
.side-facebook .preview-contents {
  background-color: #b0bbd3 !important;
  height: 100%;
}


.side-telegram .preview-contents {
  background-image: url("../../../../objects/telegram_bg.jpg");
  height: 100%;
}

/* footer */
.preview-footer {
  background-color: white !important;
  min-height: 50px;
  margin-top: auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-footer i {
  font-size: 20px;
  color: #707f8e;
}

.preview-footer-imogi {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-footer-icons {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.line-preview-footer i {
  color : #999;
}

.line-preview-footer .preview-footer-icons {
  width : 100px;
}

.line-preview-footer .preview-input {
  padding : 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-preview-footer .preview-footer-icon-right {
  width : 30px;
}

.line-preview-footer .input-line {
  height : 35px;
  margin : 0 10px;
  border-radius: 15px;
  background-color: #eee;
}




.preview-input {
  width: 220px;
  height: 30px;
  border-radius: 10px;
}

.preview-input form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-input form input {
  height: 100%;
  width: 100%;
  padding: 0 5px;
  border: transparent;
  background: transparent;
  font-size: 15px;
}
.preview-input form input:focus {
  outline: none;
}
.datetime {
  margin: 15px;
}
time {
  font-size: 13px;
  font-weight: bold;
  background-color: #37516d;
  opacity: 0.5;
  color: white;
  padding: 3px 6px;
  border-radius: 15px;
}
.preview-send {
  align-self: flex-end;
  background-color: #e5ffd0;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  display: flex;
}
.preview-receive {
  width: inherit;
  align-self: flex-start;
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
}
.platform-telegram-text,
.platform-telegram-notfound {
  padding: 8px;
}


/* 텔레그램 미리보기 시간 인터페이스 css */
.side-telegram .nowtime_outer {
  position : relative;
  right: -6px;
  bottom : -3px;
}

.side-telegram .preview-send .nowtime_outer time {
  align-self: flex-end;
  font-size: 11px;
  background-color: #e5ffd0;
  color: #426327;
  font-weight: normal;
}

.side-telegram .preview-receive .nowtime_outer time {
  align-self: flex-end;
  font-size: 11px;
  background-color: white;
  color: #999;
  font-weight: normal;
}

.side-telegram .preview-receive .nowtime_inner time {
  position : absolute;
  bottom : 7px;
  right : 5px;
  font-size: 11px;
  font-weight: normal;
}

.side-line .preview-receive time {
    position : absolute;
    color : white;
    opacity: 1;
    background-color: rgba(0,0,0,0);
    padding-left : 12px;
    bottom : 0;
    font-size: 11px;
    width : 67px;
}

.side-line .platform-line-btn_template {
  padding : 0!important;
  width : 240px;
}

/*  미리보기 창 기본 인터페이스 */
/* preview-header */

.side-telegram .preview-header {
  background-color: #52749a !important;
}
.side-line .preview-header {
  background-color: #2E3649;
}


/* preview-content - recive */
.side-line .preview-receive {
  padding : 8px;
}

/* 이미지 */
.preview-contents .platform-line-image {
  padding : 0;
}

/* 고정 메뉴 */
.preview-keyboard {
  display: grid;
  padding-bottom : 5px;
}

.side-telegram .preview-keyboard {
  background-color: #F5F6F7;
  grid-template-columns: repeat(2, 1fr);
}

.side-line .preview-keyboard {
  background-color: #F5F5F5;
  border : 1px solid #ddd;
  grid-template-columns: repeat(1, 1fr);
}


.preview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 5px 5px 0 5px;
  height: 40px;

  border-radius: 3px;
}

.side-telegram .preview-button {
  background-color: #E4E7E9;
  font-size: 15px;
  font-weight : normal;
  color : #3A4B53;
}

.side-telegram .preview-button:nth-child(2n + 1):last-child {
  grid-column: span 2;
}

.side-line .preview-button {
  background-color : #eee;
  border : 1px solid #ddd;
  font-weight : bold;
}

/* 버튼 템플릿 이미지 손보기 */
.main-buttons-thumbnail-image {
  border-radius: 5px;
  margin: 0;
}