.preview-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.preview-header {
  background-color: white !important;
  margin-bottom: auto;
  height: 50px;
}
.side-kakao .preview-contents {
  background-color: #fffacd !important;
  height: 100%;
}
.side-line .preview-contents {
  background-color: #c4f7d7 !important;
  height: 100%;
}
.side-facebook .preview-contents {
  background-color: #b0bbd3 !important;
  height: 100%;
}
.side-telegram .preview-contents {
  background-color: #c8f7fc !important;
  height: 100%;
}
.preview-footer {
  background-color: white !important;
  height: 50px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-input {
  background-color: rgb(223, 223, 223);
  width: 90%;
  line-height: 10px;
  padding: 5px;
  border-radius: 10px;
}
input {
  width: 90%;
  border: transparent;
  background: transparent;
}
input:focus {
  outline: none;
}
.datetime {
  margin: 15px;
}
time {
  font-size: 13px;
  background-color: rgb(155, 155, 155);
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.preview-send {
  background-color: #e5ffd0;
  border-radius: 10px;
  float: right;
  padding: 1px;
  width: 200px;
  margin: 5px;
}
.preview-receive {
  background-color: white;
  float: left;
  border-radius: 10px;
  padding: 1px;
  width: 200px;
  margin: 5px;
}
.preview-button {
  background-color: darkgray;
  margin: 5px;
}
