

.sidebar {
    width : 50px;
    height: 100vh;
    position : absolute;
    top : 100px;
    right: 0px;
    background-color: #eee;

}

.sidebar-icons {
    width : inherit;
}

.sidebar-icon {
    list-style: none;
    margin : 0;
    padding : 0;
}

.sidebar-icon li {
    height : 50px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side{
  display:none;
}
.active-side{
  display:active;
}