.side-wrapper{
  position: relative;
}
.sidebar {
  width : 50px;
  height: 100vh;
  position : fixed;
  top : 80px;
  right: 0px;
  background-color: white;
  border: 0.5px solid #eee;
}
/*tabs.css의 .active의 영향을 받아 이벤트 발생시 색상 변화*/
.sidebar-icon{
  cursor: pointer;
  width : 50px;
  height : 50px;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:.2s all;
}

/* .sidebar-icon:hover {
  background-color: #eee;
} */

.sidebar-icon:hover i, .active i {
  transform: translateY(-1px);
  transform: scale(1.2, 1.2);
}

.sidebar-icon i {
  color : #666;
  font-size: 20px;
}

.active{
  background-color: #eee;
}

.active i {
  color : #178c8c;
}
/**/
.side-default{
  display:none;
}
/*activeSidebar == false*/
.side-close{
  position:absolute;
  height: 100vh;
  top:-1px;
  right:50px;
  background-color: white;
  border: .5px solid #eee;
  color:gray;
  display:block;

  animation-name: slideout;
  animation-duration: 0.6s;
}
/*activeSideBar == true*/
.side-open{
  position:absolute;
  width:400px;
  height: 100vh;
  top:-1px;
  right:50px;
  background-color: white;
  border: .5px solid #eee;
  color:gray;
  display:block;

  animation-name: slidein;
  animation-duration: 0.6s;
}

@keyframes slidein{
  from{
    width: 0px;
  }
  to{
    width:400px;
  }
}

@keyframes slideout{
  from{
    width: 400px;
  }
  to{
    width:0px;
    display:none;
  }
}