

.sidebar {
    width : 50px;
    height: inherit;
    position : fixed;
    top : 180px;
    right: 0px;
    background-color: #eee;

}

.sidebar-icons {
    width : inherit;
}

.sidebar-icon {
    list-style: none;
    margin : 0;
    padding : 0;
}

.sidebar-icon li {
    height : 50px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}